@page "/"
@model Manatalol.App.Pages.Candidates.IndexModel

@{
    ViewBag.Title = "Index";
}

<div class="main-content">
    <div class="d-flex justify-content-between mb-3">
        <form method="get" class="d-flex">
            <input type="text" name="Search" value="@Model.Search" placeholder="Search..." class="form-control me-2" />
            <button type="submit" class="btn btn-md btn-outline-secondary d-flex justify-content-center align-self-center align-items-center">
                <span class="fal fa-search me-1"></span> Search
            </button>
        </form>

        <button class="btn btn-md btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="fal fa-plus me-1"></span>
            Create candidate
        </button>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12">
            <table class="st-table table table-striped table-hover st-responsive" id="myTable">
                <thead>
                    <tr>
                        <th>
                            <a asp-page="./Index"
                               asp-route-Search="@Model.Search"
                               asp-route-SortBy="firstname"
                               asp-route-SortDirection="@(Model.SortBy == "firstname" && Model.SortDirection == "asc" ? "desc" : "asc")"
                               class="text-decoration-none">
                                Candidate Name
                                @if (Model.SortBy == "firstname")
                                {
                                <span>
                                    @Html.Raw(Model.SortDirection == "asc"
                                                                        ? "<i class='fal fa-chevron-up'></i>"
                                                                        : "<i class='fal fa-chevron-down'></i>")
                                </span>
                                                                }
                            </a>
                        </th>
                        <th>Location</th>
                        <th>Function</th>
                        <th>Product Owner</th>
                        <th>Source</th>
                        <th>Note</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var candidate in Model.Candidates.Items)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content("~/img/demo/avatars/avatar-m.png")" class="ma-img" />
                                @candidate.FirstName @candidate.LastName
                            </td>
                            <td>@candidate.Location</td>
                            <td>@candidate.Function</td>
                            <td>@candidate.CreatedBy</td>
                            <td>@candidate.Source</td>
                            <td>@candidate.NotesCount</td>
                            <td>
                                <a href="/details/@candidate.Reference" class="btn btn-sm btn-outline-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Pagination -->
            <nav class="d-flex justify-content-end">
                <ul class="pagination">
                    @for (int i = 0; i < Math.Ceiling((double)Model.Candidates.TotalItems / Model.Candidates.PageSize); i++)
                    {
                        <li class="page-item @(i == Model.Candidates.PageNumber ? "active" : "")">
                            <a class="page-link"
                               asp-page="./Index"
                               asp-route-PageNumber="@i"
                               asp-route-Search="@Model.Search"
                               asp-route-SortOrder="@Model.SortDirection">
                                @(i + 1)
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 p-3">
                        <a href="" class="border rounded p-3 d-flex flex-column align-items-center justify-content-center text-center" style="height:120px">
                            <div style="font-size: 2.1rem">
                                <div class="stack-icon">
                                    <div class="icon-layers"><i class="sa sa-base-7 stack-3x text-primary"></i></div>
                                    <div class="icon-layers"><i class="fal fa-clipboard-user text-light stack-1x"></i></div>
                                </div>
                            </div>
                            <span class="mt-2 d-block">Complete a form</span>
                        </a>
                    </div>
                    <div class="col-6 p-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#uploadModal" class="border rounded p-3 d-flex flex-column align-items-center justify-content-center text-center" style="height:120px">
                            <div style="font-size: 2.1rem">
                                <div class="stack-icon">
                                    <div class="icon-layers"><i class="sa sa-base-7 stack-3x text-primary"></i></div>
                                    <div class="icon-layers"><i class="fal fa-cloud-upload text-light stack-1x"></i></div>
                                </div>
                            </div>
                            <span class="mt-2 d-block">Upload one or multiple form</span>
                        </a>
                    </div>
                    <div class="col-6 p-3">
                        <a href="#" data-bs-toggle="modal" data -bs-target="#  " class="border rounded p-3 d-flex flex-column align-items-center justify-content-center text-center" style="height:120px">
                            <div style="font-size: 2.1rem">
                                <div class="stack-icon">
                                    <div class="icon-layers"><i class="sa sa-base-7 stack-3x text-primary"></i></div>
                                    <div class="icon-layers"><i class="sa sa-link text-light stack-1x"></i></div>
                                </div>
                            </div>
                            <span class="mt-2 d-block">Via Linkedin Url</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload CV PDF</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="PdfFiles" type="file" class="form-control" accept="application/pdf" multiple />
                    <span asp-validation-for="PdfFiles" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- via linkedin url -->
<div class="modal fade" id="linkedinModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form method="get" asp-controller="Linkedin" asp-action="Login">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter via LinkedIn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <label for="LinkedinUrl" class="form-label">URL LinkedIn</label>
                    <input type="url" name="LinkedinUrl" class="form-control"
                           placeholder="https://www.linkedin.com/in/nom-prenom" required />
                </div>
                <div class="modal-footer">
                    <button id="linkedinBtn" type="button" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </form>
    </div>
</div>