@model dynamic

@if (Model.pageTitle != null)
{
    <h1 class="subheader-title mb-2">@Model.pageTitle</h1>
}

@if (Model.pageTitle != null)
{
    <nav class="app-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb ms-0 text-muted mb-0">
            @if (Model.pageSubTitle1 != null)
            {
                <li class="breadcrumb-item">
                    @if (Model.pageSubTitle1Url != null)
                    {
                        <a href="@Model.pageSubTitle1Url">@Model.pageSubTitle1</a>
                    }
                    else
                    {
                        @Model.pageSubTitle1
                    }
                </li>
            }
            <li class="breadcrumb-item active" aria-current="page">@Model.pageTitle</li>
        </ol>
    </nav>
}